In [1]:
import pandas as pd

In [61]:
ny = pd.read_csv('new_york_no_space.csv')
table = pd.read_csv('The_Future_of_Employment_Table.csv')

In [64]:
df = pd.DataFrame.merge(ny, table, on="SOC_CODE")
df

,Area Type,Area,Area Name,SOC_CODE,Occupational Title,Employment,Mean Wage,Median Wage,Entry Wage,Experienced Wage,Rank,Probability,Label,Occupation
0,10,1,Capital Region,11-1011,Chief Executives,1050,"$155,310","$137,730","$97,270","$184,330",70,0.015,0.0,Chief Executives
1,10,2,Central New York Region,11-1011,Chief Executives,570,"$158,480","$133,800","$94,390","$190,520",70,0.015,0.0,Chief Executives
2,10,3,Finger Lakes Region,11-1011,Chief Executives,880,"$182,730","$151,140","$100,320","$223,940",70,0.015,0.0,Chief Executives
3,10,4,Hudson Valley Region,11-1011,Chief Executives,1480,"$226,120",NaN,"$118,360","$280,000",70,0.015,0.0,Chief Executives
4,10,5,Long Island Region,11-1011,Chief Executives,1910,"$231,860",NaN,"$125,790","$284,900",70,0.015,0.0,Chief Executives
5,10,6,Mohawk Valley Region,11-1011,Chief Executives,300,"$144,710","$123,410","$100,880","$166,630",70,0.015,0.0,Chief Executives
6,10,7,New York City Region,11-1011,Chief Executives,7350,"$258,880",NaN,NaN,NaN,70,0.015,0.0,Chief Executives
7,10,8,North Country Region,11-1011,Chief Executives,360,"$135,670","$120,180","$87,960","$159,520",70,0.015,0.0,Chief Executives
8,10,9,Southern Tier Region,11-1011,Chief Executives,480,"$143,080","$122,940","$89,650","$169,790",70,0.015,0.0,Chief Executives
9,10,10,Western New York Region,11-1011,Chief Executives,910,"$181,690","$147,310","$95,570","$224,750",70,0.015,0.0,Chief Executives
10,1,36,New York State,11-1011,Chief Executives,15410,"$223,890",NaN,"$116,080","$277,800",70,0.015,0.0,Chief Executives
11,10,1,Capital Region,11-1021,General and Operations Managers,8270,"$118,160","$97,370","$56,730","$148,880",195,0.160,NaN,General and Operations Managers
12,10,2,Central New York Region,11-1021,General and Operations Managers,5700,"$112,020","$90,660","$49,100","$143,480",195,0.160,NaN,General and Operations Managers
13,10,3,Finger Lakes Region,11-1021,General and Operations Managers,9200,"$128,320","$101,540","$55,450","$164,760",195,0.160,NaN,General and Operations Managers
14,10,4,Hudson Valley Region,11-1021,General and Operations Managers,16690,"$140,650","$111,930","$57,980","$181,980",195,0.160,NaN,General and Operations Managers
15,10,5,Long Island Region,11-1021,General and Operations Managers,24590,"$148,720","$123,720","$65,760","$190,200",195,0.160,NaN,General and Operations Managers
16,10,6,Mohawk Valley Region,11-1021,General and Operations Managers,2600,"$104,160","$81,730","$49,550","$131,470",195,0.160,NaN,General and Operations Managers
17,10,7,New York City Region,11-1021,General and Operations Managers,77730,"$176,720","$156,440","$74,220","$227,960",195,0.160,NaN,General and Operations Managers
18,10,8,North Country Region,11-1021,General and Operations Managers,1980,"$86,080","$71,510","$42,900","$107,670",195,0.160,NaN,General and Operations Managers
19,10,9,Southern Tier Region,11-1021,General and Operations Managers,4300,"$103,360","$83,180","$44,320","$132,870",195,0.160,NaN,General and Operations Managers
20,10,10,Western New York Region,11-1021,General and Operations Managers,10910,"$110,090","$90,840","$48,380","$140,940",195,0.160,NaN,General and Operations Managers
21,1,36,New York State,11-1021,General and Operations Managers,162890,"$152,030","$124,970","$62,310","$196,890",195,0.160,NaN,General and Operations Managers
22,10,1,Capital Region,11-2011,Advertising and Promotions Managers,60,"$96,070","$79,800","$49,980","$119,110",124,0.039,NaN,Advertising and Promotions Managers
23,10,2,Central New York Region,11-2011,Advertising and Promotions Managers,n/a,"$97,960","$92,990","$45,470","$124,200",124,0.039,NaN,Advertising and Promotions Managers
24,10,3,Finger Lakes Region,11-2011,Advertising and Promotions Managers,60,"$89,480","$65,490","$45,780","$111,330",124,0.039,NaN,Advertising and Promotions Managers
25,10,4,Hudson Valley Region,11-2011,Advertising and Promotions Managers,120,"$183,780","$168,080","$92,860","$229,250",124,0.039,NaN,Advertising and Promotions Managers
26,10,6,Mohawk Valley Region,11-2011,Advertising and Promotions Managers,n/a,"$107,510","$83,020","$55,660","$133,430",124,0.039,NaN,Advertising and Promotions Managers
27,10,7,New York City Region,11-2011,Advertising and Promotions Managers,4550,"$177,220","$157,740","$97,420","$217,120",124,0.039,NaN,Advertising and Promotions Managers
28,10,9,Southern Tier Region,11-2011,Advertising and Promotions Managers,n/a,"$92,730","$89,270","$62,330","$107,930",124,0.039,NaN,Advertising and Promotions Managers
29,10,10,Western New York Region,11-2011,Advertising and Promotions Managers,70,"$73,080","$61,890","$43,470","$87,880",124,0.039,NaN,Advertising and Promotions Managers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5522,10,7,New York City Region,51-8099,"Plant and System Operators, All Other",n/a,"$65,470","$65,500","$52,250","$72,090",491,0.860,NaN,"Plant and System Operators, All Other"
5523,1,36,New York State,51-9193,Cooling and Freezing Equipment Operators and T...,n/a,"$34,840","$30,680","$24,210","$40,150",574,0.930,NaN,Cooling and Freezing Equipment Operators and T...
5524,10,3,Finger Lakes Region,51-9193,Cooling and Freezing Equipment Operators and T...,70,"$35,580","$32,380","$21,690","$42,520",574,0.930,NaN,Cooling and Freezing Equipment Operators and T...
5525,10,10,Western New York Region,51-9193,Cooling and Freezing Equipment Operators and T...,n/a,"$36,540","$30,840","$29,550","$40,040",574,0.930,NaN,Cooling and Freezing Equipment Operators and T...
5526,1,36,New York State,53-4013,"Rail Yard Engineers, Dinkey Operators, and Hos...",n/a,"$56,990","$52,530","$46,100","$62,430",553,0.910,NaN,"Rail Yard Engineers, Dinkey Operators, and Hos..."
5527,1,36,New York State,53-7033,"Loading Machine Operators, Underground Mining",n/a,"$46,100","$47,280","$35,740","$51,270",299,0.500,NaN,"Loading Machine Operators, Underground Mining"
5528,1,36,New York State,53-7041,Hoist and Winch Operators,n/a,"$62,860","$49,690","$29,950","$79,320",363,0.650,NaN,Hoist and Winch Operators
5529,10,4,Hudson Valley Region,53-7041,Hoist and Winch Operators,n/a,"$47,120","$32,810","$29,630","$55,870",363,0.650,NaN,Hoist and Winch Operators
5530,1,36,New York State,53-7071,Gas Compressor and Gas Pumping Station Operators,n/a,"$60,890","$62,330","$47,860","$67,410",549.,0.910,NaN,Gas Compressor and Gas Pumping Station Operators
5531,1,36,New York State,53-7072,"Pump Operators, Except Wellhead Pumpers",n/a,"$44,790","$44,660","$28,350","$53,010",542,0.900,NaN,"Pump Operators, Except Wellhead Pumpers"
5532,1,36,New York State,53-7073,Wellhead Pumpers,n/a,"$41,380","$37,570","$29,570","$47,280",480,0.840,NaN,Wellhead Pumpers
5533,1,36,New York State,53-7121,"Tank Car, Truck, and Ship Loaders",n/a,"$43,130","$39,090","$31,410","$49,000",396,0.720,NaN,"Tank Car, Truck, and Ship Loaders"
5534,10,4,Hudson Valley Region,45-2011,Agricultural Inspectors,n/a,"$63,130","$63,120","$49,280","$70,060",608.,0.940,NaN,Agricultural Inspectors
5535,10,5,Long Island Region,45-2011,Agricultural Inspectors,n/a,"$56,930","$56,000","$36,460","$67,160",608.,0.940,NaN,Agricultural Inspectors
5536,10,7,New York City Region,45-2011,Agricultural Inspectors,n/a,"$62,110","$65,320","$41,320","$72,500",608.,0.940,NaN,Agricultural Inspectors
5537,10,8,North Country Region,45-2011,Agricultural Inspectors,n/a,"$60,460","$60,380","$47,780","$66,800",608.,0.940,NaN,Agricultural Inspectors
5538,10,7,New York City Region,47-2072,Pile-Driver Operators,n/a,"$104,790","$118,400","$70,800","$121,790",454,0.820,NaN,Pile-Driver Operators
5539,10,2,Central New York Region,47-4031,Fence Erectors,80,"$37,380","$31,630","$28,130","$42,010",568,0.920,NaN,Fence Erectors
5540,10,4,Hudson Valley Region,47-4031,Fence Erectors,n/a,"$42,680","$38,490","$30,600","$48,730",568,0.920,NaN,Fence Erectors
5541,10,5,Long Island Region,47-4031,Fence Erectors,n/a,"$50,750","$42,930","$30,560","$60,840",568,0.920,NaN,Fence Erectors
5542,10,7,New York City Region,47-4031,Fence Erectors,n/a,"$72,480","$68,480","$54,920","$81,260",568,0.920,NaN,Fence Erectors
5543,10,5,Long Island Region,49-9061,Camera and Photographic Equipment Repairers,n/a,"$57,290","$57,910","$55,810","$58,020",658,0.970,NaN,Camera and Photographic Equipment Repairers
5544,10,7,New York City Region,49-9061,Camera and Photographic Equipment Repairers,n/a,"$52,290","$47,530","$32,990","$61,940",658,0.970,NaN,Camera and Photographic Equipment Repairers
5545,10,1,Capital Region,51-6052,"Tailors, Dressmakers, and Custom Sewers",n/a,"$30,770","$29,600","$28,770","$31,770",479,0.840,NaN,"Tailors, Dressmakers, and Custom Sewers"
5546,10,2,Central New York Region,51-6052,"Tailors, Dressmakers, and Custom Sewers",n/a,"$24,530","$24,120","$21,450","$26,070",479,0.840,NaN,"Tailors, Dressmakers, and Custom Sewers"
5547,10,3,Finger Lakes Region,51-6052,"Tailors, Dressmakers, and Custom Sewers",60,"$28,350","$27,820","$21,460","$31,790",479,0.840,NaN,"Tailors, Dressmakers, and Custom Sewers"
5548,10,4,Hudson Valley Region,51-6052,"Tailors, Dressmakers, and Custom Sewers",130,"$36,360","$32,560","$20,180","$44,540",479,0.840,NaN,"Tailors, Dressmakers, and Custom Sewers"
5549,10,7,New York City Region,51-6052,"Tailors, Dressmakers, and Custom Sewers",780,"$30,790","$22,090","$21,840","$36,290",479,0.840,NaN,"Tailors, Dressmakers, and Custom Sewers"
5550,10,8,North Country Region,51-6052,"Tailors, Dressmakers, and Custom Sewers",n/a,"$39,150","$35,670","$26,520","$45,460",479,0.840,NaN,"Tailors, Dressmakers, and Custom Sewers"
5551,10,10,Western New York Region,51-6052,"Tailors, Dressmakers, and Custom Sewers",n/a,"$24,260","$23,580","$20,400","$26,200",479,0.840,NaN,"Tailors, Dressmakers, and Custom Sewers"

In [82]:
# df.pivot(index='SOC_CODE',columns='Occupation',values='Probability')
# pivot = df.stack(level='SOC_CODE')
pd.DataFrame.to_csv(df, 'pivot_merged.csv')